In [6]:
%%capture
%run "./3-User-Experience-Analysis.ipynb"

In [7]:
display(user_experiance.head())
display(user_engagment.head())

   MSISDN/Number  avg_RTT_ms  avg_TCPr_bytes  avg_tp_kbps  clusters_by_experiance
0  33601001722.0       46.00     21777860.54        38.00                       0
1  33601001754.0       31.00     21777860.54        49.50                       0
2  33601002511.0       50.00     21777860.54        48.50                       0
3  33601007832.0       84.00       772117.81       124.00                       0
4  33601008617.0      119.00     31148692.54     28422.00                       0

          MSISDN  session_freq  session_duration  session_data_volume  clusters_by_engagement
0  33614892860.0            17     9966905758.00       16341524035.00                       1
1  33626320676.0            18     8791936680.00       15996644092.00                       1
2  33625779332.0            17    18553763486.00       14701273330.00                       1
3  33675877202.0            15     4865953827.00       14556184322.00                       2
4  33659725664.0            16     4035436251.00       13888413360.00                       2

In [8]:
user_engagment.groupby('clusters_by_engagement').sum()

                        session_freq  session_duration  session_data_volume
clusters_by_engagement
0                             105294  8031876008751.00   104599314454748.00
1                               5145  1431625816443.00     2549745395204.00
2                              38067  6142191870908.00    29021418483542.00

Least enaged cluster is `1`

In [9]:
least_engaged_center = engagement_model.cluster_centers_[1]

In [10]:
user_experiance.groupby('clusters_by_experiance').describe()

                       avg_RTT_ms                                                 avg_TCPr_bytes                                                                                   avg_tp_kbps
                            count   mean    std   min   25%   50%    75%      max          count        mean          std    min         25%         50%         75%           max       count     mean      std    min     25%      50%      75%       max
clusters_by_experiance
0                       103351.00 156.05 672.16  0.00 48.00 60.00 118.00 96924.00      103351.00 31291900.44 155858962.08 466.00 14964291.50 21777860.54 21822200.04 8354209105.00   103351.00 10231.44 21301.76   0.00   48.00   116.00 12326.75 451111.00
1                         1198.00  59.32  44.67 21.00 39.00 48.00  61.00   548.00        1198.00     8802.62     10014.48  97.00     2752.00     5767.50    11281.00     159132.00     1198.00 20886.60 16558.91 660.50 9342.62 16595.00 27022.25 191435.50
2                         1922.00  78.06 115.62 20.00 44.00 55.00  78.00  3940.00        1922.00    43293.30     47595.91 182.00    13464.25    28930.50    56035.75     631034.00     1922.00 18552.91 17202.04  84.50 6829.00 14124.25 24626.12 161043.50

I am choosing cluster `0` as the cluster with the worst experiance. The RTT and TCP retransmission volums are very high than the other two. There are a lot more users in that cluster. They also have the lowest maan TP. 

**note to self: Find a better (more definate) way to make these decision.**

In [11]:
worst_exp_center = experiance_model.cluster_centers_[0]

## Get the euclidian distance between the chosen centers and each point

In [ ]:
# from sklearn.metrics.pairwise import euclidean_distances
# def get_score(df: pd.DataFrame, center: np.Array) -> pd.DataFrame:
#     scores = euclidean_distances()

In [18]:
experiance_features = user_experiance.iloc[:, 1:-1]
experiance_features.head()

   avg_RTT_ms  avg_TCPr_bytes  avg_tp_kbps
0       46.00     21777860.54        38.00
1       31.00     21777860.54        49.50
2       50.00     21777860.54        48.50
3       84.00       772117.81       124.00
4      119.00     31148692.54     28422.00